#root{height:100%;}
.App {width:100%;min-height:100%;background:#f2f6f9;}
.top{display:flex;padding:20px 12px;}
.top-tit{flex-grow:1;font-size:40px;font-weight:bold;color:#474a5f;text-align:left;}
.top-icon{flex-grow:1;text-align:right;}
.top-icon svg{margin:10px 0 0 0;background: #7499fb;border: 1px #7499fb solid;border-radius: 50%;}
.no-data{display:flex;justify-content:center;padding:30% 0;color: #666;}
/*pricelist*/
.price-ul{padding:12px;overflow:hidden;font-size:12px;}
.price-li{line-height:20px;padding:10px 0;border-bottom:1px #e6eaee solid;overflow:hidden;}
.price-li .price-div{float:left;text-align:left;}
.price-li .price-img{width:60px;height:40px;text-align:left;display:flex;justify-content:center;align-items:center;}
.price-li .price-tit{font-size:16px;color:#474a5f;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.price-li .price-date{font-size:12px;color:#a6aab5;}
.price-li .price-t{width:30%;}
.price-li .price-i{width:30%;font-size:16px;color:#474a5f;height:40px;line-height:40px;text-align:right;text-overflow: ellipsis;overflow: hidden;}
.price-li .price-icon{width:20px;height:40px;float:right;margin:0 0 0 5px;display:flex;align-items:center;}

/*viewtab*/
.view-tab{padding:0 12px;width:auto;border-bottom: 1px #e6eaee solid;/*margin:20px 0 0 0;*/}
.view-tab li{width:50%;float:left;font-size:16px;height:40px;line-height:40px;text-align:center;}
.view-tab li div{color:#666;}
.view-tab li div.active{color:#f5a623;border-bottom:2px #f5a623 solid;}
.view-tab li .view-tab-div svg{vertical-align: middle;margin:0 10px 0 0;}

/*totalprice*/
.total{padding:0 12px;overflow:hidden;}
.total .total-li{width:48%;float:left;padding:24px 12px;font-size:16px;color:#999;background:#fff;border-radius:20px;}
.total .total-li:nth-child(2){margin:0 0 0 4%;}
.total .total-div{font-size:20px;padding:4px 0 0 0;color:#999;overflow:hidden;text-overflow:ellipsis;word-break: keep-all;}
.total .total-div.total-in{color:#f5a623;}
.total .total-div.total-out{color:#ca5cbb;}

/*monthpicker*/
.month{padding:20px 12px 6px;font-size:12px;position:relative;}
.month .month-label{width:30px;height:30px;text-align:left;float:left;}
.month .month-input{width:auto;margin-left:30px;text-align:left;font-size:14px;height:30px;line-height:30px;color:#979ba7;}
.month .month-input div{padding:0 12px;}
.month .month-down{position:absolute;top:52px;left:42px;width:auto;padding:12px;background:#fff;border:1px #f1f1f1 solid;box-shadow:2px 2px 2px #f1f1f1;z-index:999;}
.month .month-down-year{width:60px;float:left;padding-right:12px;}
.month .month-down-month{width:88px;float:left;border-left:1px #f1f1f1 solid;padding-left:12px;}
.month .down-li{height:30px;line-height:30px;}
.month .down-li.active{color:#fff;border-bottom:1px #f5a623 solid;color:#f5a623;}

/*category-select*/
.categoty{padding:20px 12px 10px;}
.categoty .categoty-select{width:100%;overflow:hidden;}
.categoty .category-item{width:25%;margin:10px 0 10px 0;float:left;}
.categoty .category-item.active{background:#fff;}
.categoty .category-item svg{border-radius:50%;}

/*price-form*/
.form{padding:0 12px;}
.form .form-group{display:flex;height:40px;line-height:40px;margin:0 0 20px 0;}
.form .form-group label{flex: 0 0 40px;}
.form .form-group input, .input-group{flex:1;border-radius:4px;}
.form .form-group input{border:1px #ccc solid;padding:0 10px;}
.form .form-group .input-group-price{display:flex;}
.form .form-group .input-group-price input{border-radius: 0 4px 4px 0;}
.form .form-group .input-group-prepend{flex:0 0 30px;text-align:center;background:#ccc;color: #fff;border-radius: 4px 0 0 4px;}
.form .form-group .price{flex:1;}
.form .form-btn{display:flex;flex-direction:row;justify-content:space-between;}
.form .form-btn button{width:140px;height:40px;line-height:40px;text-align:center;border-radius:4px;color:#fff;background:#ccc;border:0;}
.form .form-btn button[type="submit"]{background:#7499fb;}
.error{margin:0 0 20px 0;padding:10px 20px;background:rgb(247, 153, 153);color:#fff;border-radius:4px;}

/*loading*/
.loading{width:100%;text-align:center;}
.loading h5{text-align:center;font-size:18px;padding:0;color:#f5a623;font-weight:100;}

/*pie*/
.pie-title{display:flex;justify-content:center;color:#666;padding:30px 0 0 0;font-size:14px;font-weight:100;}

